* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b1d25;
  font-family: 'Martian Mono', monospace;
  color: white;
  display: flex;
}

header {
  height: 100vh;
} 

nav {
  width: 75px;
  height: 100%;
  background-color: #15181f;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  position: fixed;
}

.nav-logo {
  background-color: black;
  width: 100%;
  height: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

nav > img {
  width: 50px;
}

ul {
  list-style-type: none;
}

nav > ul > li:nth-child(1) {
  border-top: 1px solid #373636;
}

nav > ul > li {
  width: 100%;
  padding: 1em 0.5em;
  border-bottom: 1px solid #373636;
  display: flex;
  justify-content: center;
}

nav > ul > li:hover {
  background-color: #0bdabc;
}

nav > ul > li > a {
  text-decoration: none;
  color: white;
  font-size: 0.6em;
}

nav > ul > li:hover > a {
  text-decoration: underline; /* Add underline on hover if desired */
  color: black;
}

button:hover {
  background-color: #38daf7;
  color: black;
}

.content-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

main, section {
  width: 100%;
  padding: 20px 20px 20px 90px;
  height: auto;
}

p {
  font-size: 0.8em;
}

.gray {
  color: #86868a;
}

.white {
  color: white;
}

.space-horizontal {
  display: inline-block;
  margin-left: 20px;
}

.space-horizontal-wider {
  display: inline-block;
  margin-left: 40px;
}

.space-horizontal-custom {
  display: inline-block;
  margin-left: 55px;
}

.space-vertical {
  margin-top: 10px;
}

.blue {
  color: #38daf7;
}

.bordered-button {
  width: 160px;
  border: 1px solid #38daf7;
  padding: 0.5em 2em;
  color: #38daf7;
  font-size: 0.8em;
  background-color: transparent;
  cursor: pointer;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.project-item > img {
  width: 200px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.skills-item {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.percentage-line {
  width: 80%;
  background-color: #ccc;
  height: 10px;
}

.skills-graph {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skills-graph-item {
  /* background-color: blue; */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.line {
  height: 100%;
}

.blue-line {
  width: 80%;
  background-color: #0bdabc;
}

.red-line {
  width: 90%;
  background-color: #ff5e6e;
}

.socials-item {
  display: block;
  font-size: 14px;
}